/* 
1-common styles
2-general styles
3- sections
  3.1 header section
*/
/* 1-common  styles*/
/* 
-container
-opacity hover
- section header
-section padding
- hover effect 1
- hover effect 2
 */
 .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0 ,0,0,0.7);
      top:0;
      left: 0;
}
.hover-opacity{
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
}
.hover-opacity:hover{
opacity: 0.8;
}
.ltr-effect,
.tb-effect{
      position: relative;
}
.ltr-effect::after,
.tb-effect::after{
      position: absolute;
      content: "";
      background-color: #333;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:-1;
}
.ltr-effect::after{
      width: 0;
      transition: width 0.5s ;
      -webkit-transition: width 0.5s ;
      -moz-transition: width 0.5s ;
      -ms-transition: width 0.5s ;
      -o-transition: width 0.5s ;
}
.tb-effect::after{
      height: 0;
      transition: height 0.5s ;
      -webkit-transition: height 0.5s ;
      -moz-transition: height 0.5s ;
      -ms-transition: height 0.5s ;
      -o-transition: height 0.5s ;
}
.ltr-effect:hover::after{
      width: 100%;
}
.tb-effect:hover::after{
      height: 100%;
}
 /* 2-Genral styles */
 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root{
    --main-padding:120px 0;
    --main-color:#6195ff;
    --margin-bottom:10px
}
.container{
      width: 80%;
      margin: auto;
}
 /* media quary */
 /* @media(min-width:768px){
      .container{
            width: 750px ;
      }
} */
/* medium  */
/* @media(min-width:992px){
      .container{
            width: 970px ;
      }
} */
/* large  */
/* @media(min-width:1200px){
      .container{
            width: 1170px ;
      }
} */
body{
      font-family: 'Varela Round', sans-serif;
     }
.clear{clear: both;}
h1,h2,h3,h4,h5,h6{
      font-family: montserrat, sans-serif;
}
button{
      font-family: inherit;
}
a{
      text-decoration: none;
}
.section-header{
      text-align: center;
      margin-bottom: 20px;
}
.section-header .section-title{
      font-size: 35px;
      text-transform: capitalize;
      margin-bottom: 10px;
}
.section-header .line{
      display: block;
      height: 5px;
      width: 60px;
      margin:0 auto 70px;
      background-color: #6195ff;
}
     /* 3-sections */
/*  3.0 header section  */
 .header{
    position: fixed;
    z-index: 10;
    width: 100%;  
    background-color: rgba(0,0,0,0.4); 
 }
 /* .header-content{
      overflow: hidden;
} */
 .header .logo{
       width: 40%;
       float: left;
 }
 .header .nav{
       width: 60%;
       float: left;
       list-style: none;
       text-align: right;
 }
 .header .nav > li{
       display: inline-block;
       text-align: right;
 }
 .header .nav > li > a{
       color: #fff;
       display: block;
       padding: 30px 15px;
       font-size: 15px;
 }
 .header .nav > li > a.active:after,
 .header .nav > li > a:after{
       content: "";
       display:block;
       width: 0;
       height: 3px;
       background-color: #6195ff;
       margin-top: 2px;
       transition: width 0.5s;
       -webkit-transition: width 0.5s;
       -moz-transition: width 0.5s;
       -ms-transition: width 0.5s;
       -o-transition: width 0.5s;
}
 .header .nav > li > a.active:after{width: 100%;}
 .header .nav > li > a:hover:after{
       width: 100%;
 }
 .dropdown{
       position: relative;
 }
 .dropdown-menu{
      position: absolute;
      background-color:#6195ff;
      width: 150px;
      text-align: center;
      left: -50%;
      top:70%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s , visibility 0.5s;
      -webkit-transition: opacity 0.5s , visibility 0.5s;
      -moz-transition: opacity 0.5s , visibility 0.5s;
      -ms-transition: opacity 0.5s , visibility 0.5s;
      -o-transition: opacity 0.5s , visibility 0.5s;
}
.dropdown-menu a{
      color: #fff;
      display: block;
      padding: 10px;
}
.dropdown:hover .dropdown-menu{
      opacity: 1;
      visibility: visible;
}
 /* 3.1 home section  */
 .home{
       height: 100vh;
       background-image: url(../images/background/background1.webp);
       background-size: cover;
       position: relative;
 }
 .home-content{
       width: 65%;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
       text-align: center;
}
.home .title{
      color: #fff;
      font-size: 3.5rem;
      text-transform: uppercase;
} 
.home .home-des{
      color: #fff;
      margin: 20px 0;
      letter-spacing: 1.5px;
      line-height: 1.5; 
}
.home .btn{
      min-width: 160px;
      padding: 15px 0;
      border-radius: 5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -ms-border-radius:5px;
      -o-border-radius:5px;
      border:0;
      cursor: pointer;
      font-size: 18px;
}
.home .btn-start{
 margin-right: 10px;
 background-color: #fff;
}
.home .btn-learn{
      background-color: #6195ff;
      color: #fff;
}
/* about section  */
.about{
padding: var(--main-padding);
}
.about-content{
      overflow: hidden;
}
.about-item{
      width: 30%;
      float: left;
      text-align: center;
      border:1px solid #e8e8e8;
      padding: 50px 20px;

}
.about-item:hover .about-item-title{
      color: #fff;
}
.about-item.mg{
      margin: 0 5%;
}
.about-item .icon{
      color: var(--main-color);
      margin-bottom: var(--margin-bottom);
}
.about-item-title{
      text-transform: capitalize;
      margin-bottom: var(--margin-bottom);
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.about-item-des{
      line-height: 1.6;
      margin-bottom: var(--margin-bottom);
      color:#999
}
.about-item-link{
      color: var(--main-color);
      text-transform: capitalize;
}
.portfolio{
      background-color: #eee8e8;
      padding: var(--main-padding);
}
.portfolio-content{
      overflow: hidden;
}
.portfolio-item{
      width: 32%;
      float: left;
      margin-bottom: 25px;
      position: relative;
      padding: 20px;
}
.portfolio-item .layer-content{
      position:absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
}
.portfolio-item:hover .layer-content{
      opacity: 1;
      visibility: visible;
}
.portfolio-item .info-layer{
       position: absolute;
       left: 50%;
       top:50%;
       width: 80%;
       text-align: center;
       transform:translate(-50%,-50%) ;
       -webkit-transform:translate(-50%,-50%) ;
       -moz-transform:translate(-50%,-50%) ;
       -ms-transform:translate(-50%,-50%) ;
       -o-transform:translate(-50%,-50%) ;
}
.layer-content .category{
      color: var(--main-color);
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      position: relative;
      top: 10px;
      opacity: 0;
      transition: top 0.5s,opacity 0.5s;
      -webkit-transition: top 0.5s,opacity 0.5s;
      -moz-transition: top 0.5s,opacity 0.5s;
      -ms-transition: top 0.5s,opacity 0.5s;
      -o-transition: top 0.5s,opacity 0.5s;
      transition-delay: 0.2s;
}
.layer-content-title{
      color: #fff;
      font-size: 25px;
      margin-bottom: var(--margin-bottom);
      position: relative;
      top: 10px;
      transition: top 0.5s,opacity 0.5s;
      -webkit-transition: top 0.5s,opacity 0.5s;
      -moz-transition: top 0.5s,opacity 0.5s;
      -ms-transition: top 0.5s,opacity 0.5s;
      -o-transition: top 0.5s,opacity 0.5s;
      transition-delay: 0.3s;
}
.layer-content a i{
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background-color: var(--main-color);
      position: relative;
      top: 10px;
      opacity: 0;
      transition: top 0.5s,opacity 0.5s;
      -webkit-transition: top 0.5s,opacity 0.5s;
      -moz-transition: top 0.5s,opacity 0.5s;
      -ms-transition: top 0.5s,opacity 0.5s;
      -o-transition: top 0.5s,opacity 0.5s;
      transition-delay: 0.3s;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content a i{
  top: 0;
  opacity: 1;
}
.portfolio-item.mg{
      margin:0 2%;
}
.portfolio-item img{
      width: 100%;
      
}

/* offer section  */
.offer{
      padding: var(--main-padding);
}
.offer-content{
      overflow: hidden;
}
.offer-item{
      width: 30%;
      float: left;
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      padding: 30px 15px 30px 70px;
      position: relative;
}
.offer-item.mg{
      margin: 0 5%;
}
.offer-item .icon{
      position: absolute;
      left: 15px;
      top: 35px;
      color: var(--main-color);
}
.offer-item-title{
      text-transform: capitalize;
      margin-bottom: 15px;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.offer-item-des{
      text-transform: capitalize;
      margin-bottom: 15px;
      line-height: 1.6;
      color: #999;     
}
.offer-item:hover .offer-item-title{
      color: #fff;
}
/* service section  */
.service{
      padding: var(--main-padding);
      background-color: #f9f9f9;
}
.service-item{
      width: 50%;
      float: left;
}
.service-item .section-header{
      text-align: left;
}
.service-item .section-header .line{
     margin: 0 0 40px 0;
}
.service-item-des{
      padding: 20px;
      line-height: 1.5;
      color: #999;
      font-size: 18px;
      margin-bottom: 20px;
      width: 80%;
}
.service-list{
      list-style: none;
}
.service-list{
      margin-bottom: 10px;
      color: #999;
}
.service-list li i{
      border: 1px solid var(--main-color);
      color: var(--main-color);
      width: 30px;
      height: 30px;
      padding: 7px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.service-item-img img{
      width: 100%;
}
.service-bollets{
      list-style: none;
      text-align: center;
}
.service-bollets li{
      width: 20px;
      height: 10px;
      display: inline-block;
      background-color: #e8e8e8;
      margin: 10px 5px;
      border-radius: 35%;
      -webkit-border-radius: 35%;
      -moz-border-radius: 35%;
      -ms-border-radius: 35%;
      -o-border-radius: 35%;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.service-bollets li.active,
.service-bollets li:hover{
      background-color: var(--main-color);
}

/* numbers section  */
.numbers{
      position: relative;
      background-image: url(../images/background/background2.webp);
      height: 300px;
      background-size: cover;
      background-attachment: fixed;
}
.numbers-item{
      overflow: hidden;
      padding: 100px 0;
}
.number-item{
      width: 25%;
      float: left;
      text-align:center;
}
.number-item .icon{
      color: var(--main-color);
      margin-bottom: 15px;
}
.number-item-title{
      font-weight: bold;
      font-size: 30px;
      color: #fff;
}
.number-item-text{
      color: #fff;
}

/* pricing section  */
.pricing{
      padding: var(--main-padding)
}
.pricing-plans{
      overflow: hidden;
}
.pricing-item{
 width: 30%;
 float:left;
 padding: 40px 15px;
 border: 1px solid #e8e8e8;
 text-align: center;
}
.pricing-item.mg{
      margin: 0 5%;
}
.pricing-item-text{
      text-transform: uppercase;
      font-size: 18px;
      color: #999;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.pricing-item-permonth{
      width: 130px;
      height: 130px;
      padding: 20px 0;
      margin: 20px auto;
      border: 2px solid var(--main-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.pricing-item-permonth .doller{
      font-size: 50px;
}
.pricing-item-permonth .month{
      text-transform: uppercase;
      font-weight : bold;
      font-size: 15px;
}
.pricing-list{
      list-style: none ;
}
.pricing-list li{
      color: #999;
      line-height: 1.8;
}
.pricing-item-purchase{
       background: none;
       border: 0;
       display: block;
       width: 140px;
       border: 2px solid #7ba7ff;
       padding: 10px;
       margin: 15px auto 0;
       color: #7ba7ff;
       transition:color 0.5s ;
       -webkit-transition:color 0.5s ;
       -moz-transition:color 0.5s ;
       -ms-transition:color 0.5s ;
       -o-transition:color 0.5s ;
}
.pricing-item:hover .pricing-item-text{
      color: var(--main-color);
}
.pricing-item:hover .pricing-item-permonth{
      color:#fff ;
}

/* testimonail section  */
.testimonail{
      position: relative;
      background-image: url(../images/background/background3.webp);
      background-attachment: fixed;
      height: 400px;
}
.testimonail-content{
      overflow: hidden;
      padding:var(--main-padding);
      width: 80%;
      margin: auto;
}
.testimonail-item{
      width: 50%;
      float: left;
      color: #fff;
}
.testimonail-item .testimonail-toplayer{
 padding: 10px 2px 40px 100px;
 position: relative;     
}
.testimonail-item .testimonail-toplayer img{
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.testimonail-item .testimonail-toplayer h3{
     margin: 5px 0;
}
.testimonail-item .testimonail-toplayer span{
      color: var(--main-color);
}
.testimonail-des{
      line-height: 1.5;
      font-size: 18px;
}

/* team section  */
/* .team{

} */
.team-content{
      overflow: hidden;
}
.team-item{
      width: 30%;
      float: left;
       background-color: #e8e8e8;
      padding: 40px 10px;
      text-align: center;
}
.team-item.mg{
      margin: 0 5%;
}
.team-item .team-img{
      width: 90%;
      margin: auto;
      position: relative;
}
.team-overlay{
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      opacity: 0;
      visibility: hidden;
}
.team-overlay a{
      display: block;
      height: 40px;
      width: 40px;
      background-color: #7ba7ff;
      color: #fff;
      margin-left: auto;
}
.team-overlay a i{
      line-height: 40px;
}
.team-item:hover .team-overlay{
      opacity: 1;
      visibility: visible;
}
.team-item .team-img img{
      width: 100%;
}
.team-item .team-info-title{
      color: #222;
      margin: 10px 0;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.team-item .team-info-text{
      color: #999;
      text-transform: uppercase;
      font-size: 14px;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
}
.team-item:hover .team-info-title{
      color: #fff;
}
.team-item:hover .team-info-title{
      color: var(--main-color);
}
.team-item.tb-effect{
      z-index: 1;
}


/* blog section  */
.blog{
      padding: var(--main-padding);
      background: #f8f8f8;
}
.blog-content{
      overflow: hidden;
}
.blog-item{
      width: 30%;
      float: left;
      background: #fff;
}
.blog-item.mg{margin: 0 5%;}
.blog-item-img img{
      width: 100%;
}
.blog-info{
      padding: 20px;
}
.blog-list{
      list-style: none;
      margin: 10px 0;
}
.blog-list li{
 display: inline-block;
 margin: 0 5px;
}
.blog-list li i{
      color: var(--main-color);
}
.blog-title{
      font-weight: bold;
      margin: 20px 0;
}
.blog-des{
      color: #999;
      margin-bottom: 10px;
      line-height: 1.5;
}
.blog-link{
      color: var(--main-color) ;
}

/* contact section */
.contact{
      padding: var(--main-padding);
}
.contact-content{
      overflow: hidden;
      width: 80%;
      margin: auto;
}
.contact-item{
      width: 30%;
      float: left;  
      text-align: center;  
}
.contact-item.mg{margin: 0 5%}
.contact-item i{
      display: block;
      color: var(--main-color);
}
.contact-item-title{
      margin: 15px 0;
      font-size: 25px;
}
.contact-item-text{
      color: #999;
      margin-bottom: 10px;
      line-height: 1.5;
      font-size: 18px;
}
.contact-us h2{
      font-weight: bold;
      font-size: 30px;
      margin: 0 0 60px;
      text-align: center;
}
.contact-us form{
      overflow: hidden;
      max-width: 800px;
      margin: auto;
}
.contact-us form .left{
      float: left;
      width: 48%;
}
.contact-us form .right{
     float: right;
     width: 48%;
}
.contact-us form input:not([type="submit"]),
.contact-us form textarea{
     display: block;
     width: 100%;
     padding: 10px;
     font-size: 18px;
     margin-bottom: 15px;
      border: 1px solid #CCC; 
     /* background-color:rgb(218,218,218 ,0.9);
      */
      background-color: #eee8e8;
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus{
  outline: 1px solid var(--main-color);
  
}
.contact-us form input{
     height: 40px;
}
.contact-us form textarea{
     height: 150px;
}
.contact-us form input[type="submit"]{
padding: 10px;
width: 100%;
border-color: transparent;
background-color: var(--main-color);
color: #FFF;
cursor: pointer;
}
.contact-us form textarea:focus::-webkit-input-placeholder,
.contact-us form input:not([type="submit"]):focus::-webkit-input-placeholder{
     opacity: 0;
     transition: .3s;
     -webkit-transition: .3s;
     -moz-transition: .3s;
     -ms-transition: .3s;
     -o-transition: .3s;
}


/* .contact-form{
     padding: 80px;
      width: 70%;
      margin: auto;
}

input{
      color: #999;
      padding: 10px;
      margin: 5px;
      width: 350px;

}
.contact-text input{
 width: 715px;
}
.contact-text textarea{
      width: 715px;
      height: 30px;
} */


/* footer section  */
.footer{
      background: #1c1b21;
      text-align: center;
      padding: 60px;
}
.footer-links{
      list-style: none;
      margin: 20px 0;
}
.footer-links li{
      display: inline-block;
}
.footer-links li a{
      display: block;
      width: 50px;
      height: 50px;
      background: var(--main-color);
      color: #fff;
      margin: 0 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.footer-links li a i{
      line-height: 50px;
}
.footer .copyright{
      color: #999;
      font-size: 15px;
      text-transform: uppercase;
}
